<head class="test">
	<title>
		{% if page.url == "/" %}
			Accueil
		{% else %}
			{{ page.title }}
		{% endif %}
		 | Ascension - Une Fan Fiction inspirée par Worm
	</title>
	<meta charset="UTF-8">
	<meta name="description" content="Serialized Web Published Literature">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">

	<link rel="icon" type="image/png" href="{% include url.html %}/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="{% include url.html %}/favicon-16x16.png" sizes="16x16">

	<link href="{% include url.html %}/assets/web-serial.css" rel="stylesheet">

	<script src="{% include url.html %}/bower_components/jquery/dist/jquery.slim.js"></script>
</head>
<body>
	<header class="ws-header">
		<div class="ws-img">
		</div>
		<div class="ws-heading">
			<h1 class="state-initial">{{ page.title }}</h1>
		</div>
		<button id="show-alt-nav-interface" class="ws-button"></button>
		<!-- <div class="ws-button"> -->
<!-- 			<div class="buttons">
				<button id="show-main-nav-interface" class="show-main-nav-interface"></button>

				<button id="show-comment-editor-interface" class="show-comment-editor-interface"></button>
			</div>
			<div class="panels">
				<div id="interface-main-nav" class="interface-main-nav"></div>
				<div id="interface-alt-nav" class="interface-alt-nav"></div>
				<div id="interface-comment-editor" class="interface-comment-editor"></div>
				<div id="interface-comment-viewer" class="interface-comment-viewer"></div>
			</div> -->
		<!-- </div> -->
		<!-- <div class="flex-container">
			<div class="logo"><a href="{% include url.html %}">{{ site:title }}</a></div>
			<menu>
				<li>
				{% if site.posts.size > 0 %}
					{% for post in site.posts %}
						{% if post.category == "chapitres" or post.category == "interludes" %}
							<a class="post-link" href="{% include url.html %}{{ post.url | relative_url }}">
								Dernier Chapitre : {{ post.title | escape }}
							</a>
							{% break %}
						{% endif %}
					{% endfor %}
				{% endif %}
				</li>
				<li>
					<a href="{% include url.html %}/sommaire/">Chapitres</a>
				</li>
				<li class="menu-dropdown-button">
					<button>Annexe </button>
					<ul class="menu-dropdown-list ">
						<li><a href="{% include url.html %}/plot/">Intrigue</a></li>
						<li><a href="{% include url.html %}/divergences/">Divergences</a></li>
						<li><a href="{% include url.html %}/characters/">Personnages</a></li>
					</ul>
				</li>
			</menu>

			{% if page.layout == 'chapter' %}
			<div class="alt-nav">

				{% if page.previous.url %}
				<a class="previous" href="{% include url.html %}{{ page.previous.url }}">&laquo; {{ page.previous.title }}</a>
				{% else %}
				<span class="previous">Vous êtes au début.</span>
				{% endif %}

				{% if post.url == /chapitres/* %}
				<p class="word-count">Longueur : {{ page.content | number_of_words }} mots.</p>
				{% endif %}

				{% if page.next.url %}
				<a class="" href="{% include url.html %}{{ page.next.url }}">{{ page.next.title }} &raquo;</a>
				{% else %}
				<span class="next">Vous êtes à la fin.</span>
				{% endif %}

			</div>
			{% endif %}

		</div> -->
		<!-- <div class="floating-list menu-dropdown-button">
			<button>Chapitres </button>
			{% if site.posts.size > 0 %}
			<ul class="">
				{% for post in site.posts  reversed %}
					{% if post.category == "chapitres" or  post.category == "interludes" %}
					<li>
						<a class="post-link" href="{% include url.html %}{{ post.url | relative_url }}">
							{{ post.title | escape }}
						</a>
					</li>
					{% endif %}
				{% endfor %}
			</ul>
			{% endif %}
		</div> -->
	</header>
