---
layout: default
---

<h3><a href="{% include url.html %}/chapters/origine-1.1">Chapitre 1 : Origine 1.1</a></h3>

{% assign sortedPosts = site.posts | sort: 'date' | reverse %}

{% for post in sortedPosts %}
	{% if post.category == "chapitres" or post.category == "interludes" %}

	<article class="content-chapter">
	<h2>{{ post.title }}</h2>
	<hr>
	{{ post.content | markdownify }}
	</article>

	<!-- <h1>{{ post.title }}</h1>
	<hr>
	{{ post.content }} -->
	{% break %}
	{% endif %}

{% endfor %}